/* This creates a skinny side bar fixed to the left of the page */
.title {
  font-size: x-large;
  text-align: center;
  color: rgb(19, 163, 150  );
  font-family: sans-serif;
}
.subtitle{
  font-size: medium;
  text-align: center;
  font-family: sans-serif;
  color: rgb(19, 163, 150 );
 
}
.title_graph{
  text-align:justify;
  font-size: small;
  font-family: sans-serif;
  text-align: center;
  color: rgb(19, 163, 150 )
}

.anexos{
  font-size: small;
  font-family: 'Times New Roman', Times, serif;
  text-align: left;
  
}

.table>:not(caption)>*>* {
  padding: .5rem .5rem;
  color: var(--bs-table-color-state, #020c28)
}



.border_columna{
  border: solid;
  border-color: ghostwhite;
  background-color: #aaefea;
  border-radius: 5px;
  padding: 5px;
  
}

.border_card{
    border: solid;
    border-color: rgb(255, 255, 248);
    border-radius: 5px;
    padding: 5px;
   
}

body {
  background-color: rgb(205, 249, 243);

}

.sidebar {
    position: fixed;
    top: 15%;
    left: 0;
    bottom: 0;
    padding: 2rem 1rem;
    background-color: #aaefea;
    z-index: 1050;
  }
  
  /* make sure the contents of the navlink don't wrap when navbar collapses */
  .sidebar .nav-link {
    white-space: nowrap;
    background-color: #E4F9F6;
  }
  
  .nav-pills .nav-link.active {
    background-color: #79F0DE;
  }

  .nav-pills {
    background-color: #79F0DE;
  }
  /* hide the navlink labels by default */
  .sidebar .nav-link span {
    opacity: 1;
    color: rgb(17, 17, 94);
  }
  
  /* when the sidebar is hovered, reveal the labels */
  .sidebar:hover .nav-link span {
    opacity: 0.5;
   
      }
  
  /* container for the sidebar header. make sure the contents don't wrap when
   * the sidebar is collapsed.
   */
  .sidebar-header {
    display: flex;
    justify-content: left;
    align-items: center;
    white-space: nowrap;
    
    
  }
  
  /* position the header relative to the logo and hide by default */
  .sidebar-header h2 {
    opacity: 0;
    margin-left: 1rem;
    margin-bottom: 0;
   
    
  }
  
  /* reveal the header when the sidebar is toggled */
  .sidebar:hover .sidebar-header h2 {
    opacity: 1;
    
  }
  
  /* position the content relative to the collapsed sidebar */
  .content {
    margin-left: 7rem;
    margin-right: 2rem;
    padding: 2rem 1rem;
   
  }  